<ng-sidebar-container>
  <ng-sidebar [(sidebarClass)]="_sidebarClass" [(keyClose)]="_keyClose"  [(closeOnClickOutside)]="_closeOnClickOutside" [(position)]="_position" [(mode)]="_mode" [(opened)]="_opened">
    <ul class="nav flex-column p-5">
      <li class="nav-item">
        <a [routerLinkActive]="['text-active']" [routerLink]="['/dashboard']" class="nav-link">
          <i class="fa fa-home fa-lg fa-fw" aria-hidden="true"></i>
          &nbsp; Dashboard
        </a>
      </li>
      <li class="nav-item">
        <a [routerLinkActive]="['text-active']" [routerLink]="['/profile']" class="nav-link">
          <i class="fa fa-user fa-lg fa-fw" aria-hidden="true"></i>
          &nbsp; Profile
        </a>
      </li>
    </ul>
  </ng-sidebar>

  <app-navbar></app-navbar>
  <app-alerts></app-alerts>
  <router-outlet></router-outlet>
</ng-sidebar-container>
