<div class="jumbotron jumbotron-fluid text-center bg-primary">
  <div class="container">
    <h1 class="text-white display-4 my-3">Welcome to To-Do app</h1>
    <p class="text-white lead">Keep your tasks up to date</p>
  </div>
</div>

<div class="container text-muted">

  <h2 class="display-4 text-center text-primary py-3 my-2">Characteristics</h2>

  <div class="card-deck">
    <div class="card card-outline-primary text-center">
      <div class="card-block">
        <h3 class="card-title text-primary">Online Tasks</h3>
        <p class="card-text lead">Access tasks from anywhere</p>
      </div>
    </div>

    <div class="card card-outline-primary text-center">
      <div class="card-block">
        <h3 class="card-title text-primary">Share</h3>
        <p class="card-text lead">Share tasks with other people</p>
      </div>
    </div>

    <div class="card card-outline-primary text-center">
      <div class="card-block">
        <h3 class="card-title text-primary">Notifications</h3>
        <p class="card-text lead">Receive notifications by email</p>
      </div>
    </div>

    <div class="card card-outline-primary text-center">
      <div class="card-block">
        <h3 class="card-title text-primary">Priorities</h3>
        <p class="card-text lead">Classify tasks by priorities</p>
      </div>
    </div>
  </div>
</div>
