<header class="navbar navbar-toggleable-sm bg-primary navbar-inverse">
  <nav class="container">
    <button class="navbar-toggler" data-toggle="collapse" data-target="#mainNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <a routerLink="/" class="nav-brand mx-3 my-1">
      <img src="../../assets/img/logotype-white.svg" height="30" alt="">
    </a>
    <div class="collapse navbar-collapse" id="mainNav">
      <ul class="navbar-nav mr-auto hidden-sm-down">
        <li *ngIf="isLoggedIn()" class="nav-item">
          <button type="button" (click)="toggleSidebar()" class="btn btn-primary">
            <i class="fa fa-bars fa-lg" aria-hidden="true"></i>
          </button>
        </li>
      </ul>

      <ul class="navbar-nav">
        <li *ngIf="isLoggedIn()" class="nav-item hidden-md-up">
          <a [routerLinkActive]="['active']" [routerLink]="['/dashboard']" class="nav-link">
            <i class="fa fa-home fa-lg fa-fw" aria-hidden="true"></i>
            &nbsp; Dashboard
          </a>
        </li>
        <li *ngIf="isLoggedIn()" class="nav-item hidden-md-up">
          <a [routerLinkActive]="['active']" [routerLink]="['/profile']" class="nav-link">
            <i class="fa fa-user fa-lg fa-fw" aria-hidden="true"></i>
            &nbsp; Profile</a>
        </li>
        <li *ngIf="!isLoggedIn()" class="nav-item">
          <a [routerLinkActive]="['active']" [routerLink]="['/login']" class="nav-link">
            <i class="fa fa-sign-in fa-lg fa-fw" aria-hidden="true"></i>
            &nbsp; Login</a>
        </li>
        <li *ngIf="!isLoggedIn()" class="nav-item">
          <a [routerLinkActive]="['active']" [routerLink]="['/register']" class="nav-link">
            <i class="fa fa-thumbs-o-up fa-lg fa-fw" aria-hidden="true"></i>
            &nbsp; Register</a>
        </li>
        <li *ngIf="isLoggedIn()" class="nav-item">
          <a (click)="onLogoutClick()" href="#" class="nav-link">
            <i class="fa fa-sign-out fa-lg fa-fw" aria-hidden="true"></i>
            &nbsp; Logout</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
