<div class="container py-3">
  <div class="row" dnd-sortable-container [sortableData]="containers" [dropZones]="['container-dropZone']">
    <div class="col-md py-3" dnd-sortable [sortableIndex]="1" [dragEnabled]="dragOperation">
      <div class="card card-danger"
           dnd-sortable-container [dropZones]="['widget-dropZone']">
        <div class="card-header text-white">
          To-do
        </div>
        <div class="card-block">
          <ul class="list-group">
            <li class="list-group-item" dnd-sortable [dragEnabled]="!dragOperation">
              Fix this!
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md py-3" dnd-sortable [sortableIndex]="1" [dragEnabled]="dragOperation">
      <div class="card card-warning"
           dnd-sortable-container [dropZones]="['widget-dropZone']">
        <div class="card-header text-white">
          Doing
        </div>
        <div class="card-block">
          <ul class="list-group">
            <li class="list-group-item" dnd-sortable [dragEnabled]="!dragOperation">
              Fix this!
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md py-3" dnd-sortable [sortableIndex]="1" [dragEnabled]="dragOperation">
      <div class="card card-success"
           dnd-sortable-container [dropZones]="['widget-dropZone']">
        <div class="card-header text-white">
          Done
        </div>
        <div class="card-block">
          <ul class="list-group">
            <li class="list-group-item" dnd-sortable [dragEnabled]="!dragOperation">
              Fix this!
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
