<div *ngIf="user">
  <div class="jumbotron jumbotron-fluid bg-primary">
    <div class="container">
      <div class="row">
        <div class="col-md text-md-right text-center">
          <h1 class="text-white display-4 my-1">{{user.first_name}} {{user.last_name}}</h1>
          <p class="text-white">{{ user.username }}</p>
          <p class="text-white">{{ user.email }}</p>
        </div>
        <div class="col-md-4 text-md-left text-center">
          <img src="../../../assets/img/login.jpg" width="150rem" alt="Type Superhero" class="rounded-circle">
        </div>
      </div>
    </div>
  </div>
</div>
