<div class="container py-5">
  <div class="row">
    <div class="col-md text-center">
      <img src="../../../assets/img/login.jpg" width="200rem" alt="Type Superhero" class="rounded-circle">
      <h5 class="py-1">Hi my friend!</h5>
      <p>I hope you're having fun with our platform.
        Be our hero and do the tasks to save the world...
      </p>
    </div>
    <div class="col-md">
      <div class="row">
        <div class="col-md">
          <h2 class="text-center">Login</h2>
        </div>
      </div>
      <div class="row mx-auto">
        <div class="col-md">
          <form (submit)="onLoginSubmit()">
            <div class="row">
              <div class="col-md">
                <div class="form-group">
                  <label for="inputUsername">Enter your Username:</label>
                  <input name="username" type="text" [(ngModel)]="username" class="form-control" id="inputUsername" aria-describedby="usernameHelp" placeholder="Username">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md">
                <div class="form-group">
                  <label for="inputPassword">Enter your Password:</label>
                  <input name="password" type="password" [(ngModel)]="password" class="form-control" id="inputPassword" aria-describedby="passwordHelp" placeholder="Password">
                </div>
              </div>
            </div>

            <button type="submit" class="btn btn-primary btn-block w-50 mx-auto">Login</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
