<div class="container py-4">
  <div class="row">
    <div class="col-md">
      <h2 class="card-title text-center">Register</h2>
    </div>
  </div>

  <div class="row w-75 mx-auto">
    <div class="col-md">
      <form (submit)="onRegisterSubmit()">
        <div class="row">
          <div class="col-md">
            <div class="form-group">
              <label for="inputUsername">Enter your First Name:</label>
              <input name="firstName" type="text" [(ngModel)]="first_name" class="form-control" id="inputFirstName" aria-describedby="firstNameHelp" placeholder="FirstName">
              <small id="firstNameHelp" class="form-text text-muted">How do I call you?</small>
            </div>
          </div>
          <div class="col-md">
            <div class="form-group">
              <label for="inputLastName">Enter your Last Name:</label>
              <input name="lastName" type="text" [(ngModel)]="last_name" class="form-control" id="inputLastName" aria-describedby="lastNameHelp" placeholder="LastName">
              <small id="lastNameHelp" class="form-text text-muted">What is your family name?</small>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md">
            <div class="form-group">
              <label for="inputEmail">Enter your Email:</label>
              <input name="email" type="email" [(ngModel)]="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="Email">
              <small id="emailHelp" class="form-text text-muted">How can I contact you?</small>
            </div>
          </div>
          <div class="col-md">
            <div class="form-group">
              <label for="inputUsername">Enter your Username:</label>
              <input name="username" type="text" [(ngModel)]="username" class="form-control" id="inputUsername" aria-describedby="usernameHelp" placeholder="Username">
              <small id="usernameHelp" class="form-text text-muted">How other user will see you?</small>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md">
            <div class="form-group">
              <label for="inputPassword">Enter your Password:</label>
              <input name="password" type="password" [(ngModel)]="password" class="form-control" id="inputPassword" aria-describedby="passwordHelp" placeholder="Password">
              <small id="passwordHelp" class="form-text text-muted">A very secure password, please</small>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md">
            <div class="form-group">
              <label for="inputRepeatPassword">Repeat your Password:</label>
              <input name="repeatPassword" type="password" [(ngModel)]="repeat_password" class="form-control" id="inputRepeatPassword" aria-describedby="repeatPasswordHelp" placeholder="RepeatPassword">
              <small id="repeatPasswordHelp" class="form-text text-muted">Without any mistake</small>
            </div>
          </div>
        </div>

        <button type="submit" class="btn btn-primary btn-block w-50 mx-auto">Join Us</button>
      </form>
    </div>
  </div>
</div>
